body {
   margin: 0;
}

.header {
   background-color: #f2a220;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 50px;

}

.logo {
   width: 100px;
}

.header-links a {
   color: white;
   padding: 5px 15px;
   text-decoration: none;
   border-radius: 15px;
}

.header-links a:hover {
   color: red;
   background-color: #2386fe;
}

.btn {
   background-color: #ee626b;
   border-radius: 15px;
   padding: 5px 15px;
   color: white;
   border: none;
}

.btn:hover {
   background-color: #f2858c;
}

.landing-page {
   background-color: #0171f9;
   display: flex;
   padding: 10px 50px;
   justify-content: space-between;
   align-items: center;
   color: white;
   border-radius: 0 0 50px 50px;
}

.landing-page-left-section {
   width: 500px;
}

.landing-page-search input {
   border-radius: 50px;
   border: none;
   outline: none;
   padding: 0px 10px;
   height: 30px;
}

.landing-page-search button {
   height: 30px;
   position: absolute;
   left: 200px;
}

.landing-page-imgages-centainer img {
   border-radius: 20px;
   width: 300px;
}

.trendin-container {
   padding: 10px 50px;

}

.trendin-container span {
   color: #ee626b;
   text-transform: uppercase;
   font-size: 14px;
}

.trendin-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.trendin-header h1 {
   margin-top: 0;
}

.trendin-cards {
  
   gap: 12px;

}

.card {
   width: 198px;
   background-color: #EEEEEE;
   border-radius: 20px;
   display: inline-block;
   margin-bottom: 15px;



}

.thumb {
   width: 198px;
   height: 290px;
   border-radius: 20px 20px 0 0;

 
}

.card-info {
   display: flex;
   justify-content: space-between;
   padding: 5px 25px;
   align-items: center;


}

.card-info img {
   width: 50%;
   display: flex;

}
/* jjjalskdsdjhkf  */
/* CATEGORY GAMES  */

.categoryContainer {
    margin-top: 150px;
    
}

.category .categoryHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.category .card .cardImg{
    position: relative;
    top: -20px;
    
}

.category .card .genre {
    background-color: #0171F9;
    text-align: center;
    color: #fff;
    padding: 15px 0 30px 0;
    font-size: large;
    font-weight: 500;
    border-radius: 20px 20px 0 0;
}

.category .categoryCards {
    margin-top: 30px;
}
.card {
    transition: .3s;
}

.category .card:hover {
    transform: scale(1.05);
}

/* FOOTER  */
.footerContainer {
    background-color: #0171F9;
    height: 100px;
    border-radius: 100px 100px 0 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.footer {
    max-width: 1300px;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: larger;
}

.formContainer {
    display: flex;
    padding: 40px;
    margin: auto;
    justify-content: center;
    max-width: 1300px;
}

.formContainer form {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    height: 450px;
}

.formContainer form input, textarea {
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: large;
    /* width: 100%; */
}

.formContainer input {
    height: 50px;
    border-radius: 50px;
}

.formContainer textarea {
    border-radius: 20px;
    padding-top: 10px;
    resize: none;
}