
  
  

*{
    margin: 0;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Lobster',Regular; */
    /* font-family: 'Miltonian' , Regular; */
    /* font-family: 'Young Serif',Regular; */
    font-family: 'El Messiri', sans-serif;
    /* font-family: 'El Messiri', sans-serif; */

    /* font-family: ''; */
    /* font-family: 'LibreFranklin'-VariableFont_wght; */
    /* font-family: 'AutourOne'-Regular; */
    color: #000000;
   
}
.h3{
    text-align: center;
}
header {
    margin-bottom: 30px;
    background-color: #00000086;
    color: rgb(241, 208, 16);
    border-radius: 0 0 100px 100px;
    border-bottom: 4px solid rgb(196, 158, 89);
}
/* .container {
    color: rgb(241, 83, 16);
    
} */
header h1 {
    margin-bottom: 35px;
    color: rgb(237, 197, 53);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1 {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px   0;
}
.parent{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(243, 57, 10);
    margin-top: 6px;
    display:inline-flexbox; 
    /* border: 1px solid rgb(0 0 0/.2); */
    /* position: relative; */
    /* border-radius: 5px; */
    /* overflow: hidden; */
}  
.card-text
{
     font-weight: 500;
    color: #d67a18;
    background-color: #0f0e0e6c;
}
 .mb-0
 {
    color: #d87242;
    font-weight: 500;
    background-color: #0f0e0e6c;


}  

.card-text .h5{ color: #d87242;
    font-weight: 500;
    background-color: #0f0e0e6c;
}

.list-group{background-color: #3e7595;}

.list-group-item
{
background-color: #6eb6c7

}

    /* تنسيق الروابط */

.parent li a{
    text-decoration: none;
    color: rgb(241, 230, 16);
    /* margin-top: 6px; */
    /* display:inline-block;  */
    border: 3px solid rgb(0 0 0/.2);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    background-color: rgb(210, 116, 116);
}
.parent li a::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(40, 243, 9);
    transform: scaleX(0);
    transition: transform 300ms;
    transform-origin:center;
    transform-origin:left;
}
.parent li a:hover::after{
    transform: scaleX(1);
    transform-origin:center ;

    
        
/* .parent li a:hover::after {
    /* border-bottom:2px solid #f1916d ; */
    font-size: 40px;
} 
main{
    text-align:justify;
}
/* الروابط الرئيسية العلوية */
li{
    list-style: none;
    font-size: 25px;
    border-start-start-radius:2px solid rgb(134, 18, 18);
}
/* صفحة اتصل بنا */
.follow{
    /*  ضل مربع   */
    box-shadow: 0 5px 30px 0 rgb(0 0 0/45%);
    border-radius: 30px;
    padding: 15px 0;
    margin: 0 auto 10px;
    
    border-bottom: 4px  solid #130544;
    border-top: 2px  solid #dd4905;
    /* الشفافية */
    /* opacity: 0.9; */
    width: 72%;
    color: #06030c ;
    background-color: wheat;

/* اسفل الصفحات  */

}

footer{
    /* توسيط النص */
    text-align: center;
    /* الهوامش من الاعلى */
    margin-top: 50px;
}
/*  للروابط صفحة اتصل بنا */
.follow a {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 4px 10pt;
    text-decoration: none;
    border-block-start-color: deeppink;
    background-color:rgb(209, 146, 29);
}
.youtube:hover{
padding: 5px 12px;
font-size: 20px;
color: white;
background-color:tomato;
}
.facebook:hover{
    padding: 5px 12px;
    font-size: 20px;
    color: white;
    background-color:rgb(51, 10, 235);
}
/* اسمي */
.design {
    /* حجم الخط */
    font-size: xx-large;
    /* لون الخلفية */
    background-color: #000000;
    /* لون الخط */
    color: rgb(241, 208, 16);
    /* الازاحة */
    padding: 35px ; 
    /* border-top-right-radius: 35px; 
    border-top-left-radius: 35px; */
    /* الاطار تقوسه */
    border-radius: 100px 100px 0 0;
    /* width: 89%; */
    /* الظل */
    box-shadow: 0 5px 30px 0 rgb(0 0 0/25%);
    /* الهوامش */
    margin: 0 auto 0pt;

    /* نوع الاطار */
    border-top: 4px solid #df5606;
   
    /* border-radius: 30px; */
    }
    body
    { background-image:url(images/متحركة.jpg)  ;
        /* background-repeat: no-repeat; */
       /* ثبات الصورة  */
        background-attachment: fixed; 
        /* امتلاء الصفحة */
        background-size: cover;
         /* opacity: 0.9; */
        
    }
    /* خلفية النص في صفحة معلومات الموقع */
    .first
    {

font-weight: 500;
background-color: #e0835894;


    }
    .eee {
        color: #f6f5f3;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
     background-color: rgba(183, 158, 89, 0.525);
     /* opacity: 0.5; */
    }